
<form method="POST" action="#" role="form">
  <div class="form-group">
    <label class="control-label" for="query">Query:</label>
    <textarea ref-textarea rows="3" class="form-control input-sm">
    </textarea>
  </div>
  <div class="form-group" *ngFor="let y of parameters">
      <button [disabled]="hasSubmitted" (click)="onQuery(textarea.value, y.value)" id="searchSubmit" type="submit" class="btn btn-sm">
          Query
      </button>
  </div>
</form>
<div *ngIf="payload.length >= 1">
  <h3 class="page-header">Search Results</h3>
  <div class="table-responsive">
      <table class="table table-hover table-striped">
          <tr>
            <th *ngFor="let columnName of columnNames">
              {{ columnName }}
            </th>
          </tr>
          <tr *ngFor="let dataValue of payload" class="active">
            <td *ngFor="let columnName of columnNames">{{ dataValue[columnName] }}</td>
          </tr>
      </table>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6" *ngFor="let user of parameters">
        <form>
          <div class="form-group">
              <button [disabled]="hasDownloaded" (click)="onDownloadRequest(user.value)" id="downloadRequest" type="submit" class="btn btn-sm">
                  Get Download Link
              </button>
          </div>
        </form>
        <div *ngIf="downloadReady">
          <a href="{{ downloadUrl }}" target="_blank">Download File</a>
        </div>
      </div>
      <div class="col-xs-6" *ngFor="let user of parameters">
          <button [disabled]="currentPage === 1" (click)="paginate(1, user.value)" class="btn btn-link">1</button>
          <button [disabled]="currentPage === 2" (click)="paginate(2, user.value)" class="btn btn-link">2</button>
          <button [disabled]="currentPage === 3" (click)="paginate(3, user.value)" class="btn btn-link">3</button>
          <button [disabled]="currentPage === 4" (click)="paginate(4, user.value)" class="btn btn-link">4</button>
          <button [disabled]="currentPage === 5" (click)="paginate(5, user.value)" class="btn btn-link">5</button>
      </div>
    </div>
  </div>
</div>
