/* site.css */


header{
    background-color: white;
    font-family: "DIN W01 Regular","Arial Narrow", Arial, sans-serif !important;
}

body {
    font-family: "DIN W01 Regular","Arial Narrow", Arial, sans-serif !important;
    font-size: 14px;
    /*background: gray !important;*/
}

html, body {
    padding: 0;
    margin: 0;
}

#disablingDiv {
    display: none;
    z-index: 1001;
    position: fixed;
    text-align: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    opacity: 0.8;
    filter: alpha(opacity=20);

}

#footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

a, a:visited, a:active, a:hover, a:focus {
    color: #13a29c !important;
    text-decoration: none;
    outline: 0;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#auth_button.disabled, #submit_button.disabled, #summary_button.disabled, #cancel_button.disabled, #download_button.disabled, #next_button.disabled, #prev_button.disabled, #save_sql_button.disabled{
 opacity: 0.65 !important;
  cursor: not-allowed !important;
  background-color: #a0a0a0 !important;
  color: #fff !important;
}

#main {
/*
    border: solid 1px #ccc;
    border-radius: 5px;
    color: #202020;
*/
    margin: 20px 0;
    padding: 5px;
}

#client_initiated {
    padding: 3px;
}

#filters {
    padding: 3px;
    margin: 5px;
}

.container {
    width: 100px;
    margin: 0 auto;
    background-color: white;
    padding: 5px;
}

.bordered-image {
    border: solid 1px #444;
    border-radius: 2px;
    margin: 3px;
}

#query_button {
    padding: 3px;
    margin: 3px;
}

#dataset_button {
    padding: 3px;
    margin: 3px;
}

#text_srch_button {
    padding: 3px;
    margin: 3px;
}

#submit_text {
    padding: 3px;
    margin: 3px;
}

#auth_button, #submit_button, #summary_button,  #download_button,#next_button,#prev_button,#save_sql_button {

    margin: 3px;
    background-color: #26a69a !important;
    color: #fff !important;
    border-radius: 2px;
    padding: 3px 6px;
    font-size: .9em;
    letter-spacing: 0.2px;
    border: none;

}


#cancel_button {

    margin: 3px;
    background-color: #26a69a !important;
    color: #fff !important;
    opacity: 1;
    border-radius: 2px;
    position: absolute;
    right:0;
    bottom: 0;
    padding: 3px 6px;
    font-size: .9em;
    letter-spacing: 0.2px;
    border: none;

}

#auth_button{
    text-transform: uppercase;
    letter-spacing: 0.5px !important;
    text-align: center;
    font-size: .8em;
}

#welcomemsg {
    padding: 150px 100px 100px 100px;
    text-align: center;
    font-size: 2em;
}

#toggleButton {
    padding: 3px;
    margin: 3px;
}

#client_initiated {
	padding: 0 3px;
}

#data_initiated {
    padding: 0 3px;
}

#txtinput_initiated {
    padding: 0 3px;
}


#filtercriteria, #input_fields_wrap, #input_fields_wrap1, #input_fields_wrap2, #input_fields_wrap3, #input_fields_wrap4, #input_fields_wrap5, #input_fields_wrap6, #input_fields_wrap7, #input_fields_wrap8, #input_fields_wrap9, #input_fields_wrap10, #input_fields_wrap11 {
    width: 1000px;
    float: left;
}
#search_btns {
    width: 1000px;
}

#select_columns, #categoryDiv {
/*    width: auto;*/
    float: right;
    margin: 2px 0 0 5px;
    padding: 1px;
}

#operator, #tableCols, #symbol, #entry {
/*    width: auto;*/
    float: left;
    margin: 2px 0 0 5px;
    padding: 1px;
    display: inline;
}

#operator1, #operator2, #operator3, #operator4, #operator5, #operator6, #operator7, #operator8, #operator9, #operator10, #operator11,
#tableCols1, #tableCols2, #tableCols3, #tableCols4, #tableCols5, #tableCols6, #tableCols7, #tableCols8, #tableCols9, #tableCols10, #tableCols11,
#symbol1, #symbol2, #symbol3, #symbol4, #symbol5, #symbol6, #symbol7, #symbol8, #symbol9, #symbol10, #symbol11,
#entry1, #entry2, #entry3, #entry4, #entry5, #entry6, #entry7, #entry8, #entry9, #entry10, #entry11 {
/*    width: auto;*/
    float: left;
    margin: 2px 2px 3px 5px;
    padding: 3px;
}

#operator1 {
    visibility: hidden;
}

#entry1 > textarea, #entry2 > textarea, #entry3 > textarea, #entry4 > textarea, #entry5 > textarea, #entry6 > textarea, #entry7 > textarea, #entry8 > textarea,
#entry9 > textarea, #entry10 > textarea , #entry11 > textarea {
    resize: vertical;
    display: inline;
    float: left;
    padding: 1px 1px 3px 1px;
}

select, option {
    width: 150px !important;
}

.add_field_button, .remove_field {
    border: none;
    background-color: white;
    display: inline;
    float: left;
    margin: 2px 0 0 5px;
    padding: 1px;
}

#result_box {
	margin: 3px;
}

#query_results {
/*    border: 1px solid #444;*/
    border-radius: 3px;
    margin: 5px;
    /* height: 80vh; */
    /* overflow-x: scroll; */
}
.table-container{
  height: 500px;
  width: 1000px;
  overflow: auto;
    /* overflow-x: scroll; */
}

body
{
    margin: 0 auto;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #555;
}
table
{
    border: 0;
    /* padding: 3px; */
    margin: 0 0 20px 0;
    border-collapse: collapse;
    width: 100%
}
thead{
    background-color: #555;
    /* width: 100%; */
 }
th
{
    height: 30px;
    padding: 3px;
    /* padding-left: 10px; */
    text-align: center !important;
    /* font-weight:bold; */
    line-height: 2em;
    color: #FFF;
    background-color: #555;
    border-bottom: 1px solid black;
}
tbody td
{
    /* padding-left: 5px; */
    padding: 5px;
    line-height: 18px;
    border: 1px solid black;
    /* border-top: 1px solid #E0E0E0; */
}
tbody tr:nth-child(2n)
{
    background-color: #F7F7F7;
}
td
{
    text-align:;
}
td:first-child, th:first-child
{
    text-align: center;
}

.card {
    min-height: 300px;
    max-height: 300px;
    /*padding: inherit;*/
    padding: 5px 0px 5px 5px;
}

.pull-right {
    float: right !important;
}

#selectedDTDiv, #selectedProgramsDiv, #selectedassaysDiv, #selectedFieldDiv{
    overflow:  auto;
    flex: 1;
    min-height: 255px;
    max-height: 255px;
}

.compound span{
    color: #13A29C;
    float:right;
}
.compound img{
    align: left;
}

#footer {
  position: fixed;
}
.footerp{
    margin: 0 0 10px;
    font-size: 15px !important;
    text-align: center;
}
