
<div>
    <router-outlet></router-outlet>
</div>

<div class="container">
    <!--Header contains all search building related options-->
    <header>
        <h1 class="compound" ><img class="img-responsive" alt="Merck - Inventing For Life Logo" src="http://www.merck.com/images/merck-logo-inventing-for-life.png" title="Merck - Inventing For Life" ><span>Compound Search</span></h1>
    </header>

    <div id="welcomemsg" style="width:100%; height:600px;">
        <p>Welcome to the Compound Search Page</p>

        <a [routerLink]="['/login']"><button id="auth_button">Login</button></a>
        <p><font size="-1">(Please Disable your Pop-up Blocker for this site and login with your MERCK account)</font></p>
    </div>

    <div class="footer1">
        <div >
            <p class="footerp"><a style="color: #676767 !important;" href="http://www.merck.com/policy/copyright/home.html">Copyright.</a> &#9400;2017 Merck Sharp &amp; Dohme Corp., a subsidiary of <strong>Merck &amp; Co., Inc</strong>. All rights reserved. </p>
        </div>
    </div>
</div>




