<form class="form-signin" method="POST" action="#" role="form">
    <div class="form-group">
        <h2>Forgot Password</h2>
    </div>
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div class="form-group">
        <label class="control-label" for="verificationCode">Verification Code</label>
        <input id="verificationCode" type="verificationCode" maxlength="50" class="form-control"
               [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label class="control-label" for="newPassword">New Password</label>
        <input id="newPassword" type="password" maxlength="25" class="form-control"
               length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <button (click)="onNext()" id="signupSubmit" type="submit" class="btn btn-info btn-block">
            Reset Password
        </button>
    </div>

    <hr>
    <p><a [routerLink]="['/login']"> <i class="fa fa-fw fa-group"></i> Go back</a>
    </p>
</form>
